/*Formtações gerais*/
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

body{
    background: url(/img/fundo.png) repeat-x #f4f2ec;
}

#container-principal{
    width: 1120px;
    margin: 35px auto;
}

ul, a{
    text-decoration: none;
    list-style: none;
}

.clear{
    clear: both;
}

/*Formatações header*/
header img{
    float: left;
    
}


nav ul{
    margin-top: 0px;
    float: right;
}

nav ul li{
    float: left;
    padding: 0px 10px;
}

nav ul li a{
    color: #a2600b;
    text-transform: uppercase;
    font-size: 0.8em;
}

nav ul li a:hover{
    color: green;
    border-bottom: 1px solid rgb(68, 67, 67);   
}

.imagens-header{
    margin-top: 25px;
    margin-bottom: 15px;
}

.imagens-header-img1{
    float: left;
}

.imagens-header-img2{
    float: right;
}

/*Conteúdo*/
#conteudo-primario{
    float: left;
    font-size: 0.8em;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#conteudo-lateral{
    float: right;
    width: 32%;
}
   
/*Conteudo primario*/
.conteudo-primario-blocos{
    width: 47%;
    padding: 5px;
}

.conteudo-primario-blocos-texto h2{
    color: green;
    text-transform: uppercase;
}

.conteudo-primario-blocos-texto ul{
    list-style: disc;
}

.conteudo-primario-blocos-texto li a{
    color: #b47119;
}

.conteudo-primario-blocos-texto a:hover{
    color: green;
}

.leia-mais{
    color: #af670a;
    font-weight: bold;
}

/*Conteudo lateral*/
.conteudo-lateral-cadastro div{
    padding: 20px;
    font-size: 0.8em;
    background: #cdc8b1;
}

.conteudo-lateral-cadastro h2{
    color: #8a5923;
    text-transform: uppercase;
    font-weight: bold;
}

.conteudo-lateral-cadastro input{
    padding: 5px;
}

.conteudo-lateral-cadastro input:focus{
    border: 1px solid rgb(0, 255, 247);
}

.conteudo-lateral-cadastro input[type="date"]{
    width: 110px;
    
}

.conteudo-lateral-cadastro input[type="number"]{
    width: 40px;
    
}

.conteudo-lateral-cadastro button{
    width: 300px;
    background-color: #9b9271;
    padding: 12px;
    color: #fff;
    font-size: 1.1em;
    margin-top: 10px;
}

.conteudo-lateral-galeriaDeFotos{
    padding: 10px;
}

.conteudo-lateral-galeriaDeFotos div{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.foto-Galeria{
    background-image: url(/img/fundo-foto.png) ;
    display: block;
    padding: 15px;
}

/*Roda pe*/
footer{
    border: 1px solid red;
}

footer .navbar-footer{
    
}
